<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TCGD</title>
     <!--Bootstrap core css-->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/index.css">
<link rel="icon" href="../static/images/topical.jpg">
    <!-- Bootstrap core JS-->
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
     <!--header-->
    <div class="header h1">
    <h1>TCGB<small>Tropical Crop Genome Batadase</small></h1>
    </div>

    <!--nav-->
 <div class="nav w">
     <div>
     <ul>
        <li><a href="#">Home</a> </li>
        <li><a href="#" class="arrow-icon">Sepicals</a> </li>
        <li><a href="#" class="arrow-icon">Tools</a> </li>
        <li><a href="#">Downlond</a> </li>
        <li><a href="#" class="arrow-icon">Community</a> </li>
         <li><a href="#" class="arrow-icon">Journal</a> </li>
         <li><a href="#" class="arrow-icon">Help</a> </li>
     </ul>
     </div>>
<!--search-->
    <div class="search">
        <input type="text" value="placeholed">
    <button>

    </button>
    </div>
  </div>
    <!--banner-->
<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="../static/images/coconut.jpg" alt="First slide">
		</div>
		<div class="item">
			<img src="../static/images/cassava.jpg" alt="Second slide">
		</div>
		<div class="item">
			<img src="../static/images/natural%20rubber.jpg" alt="Third slide">
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>


     <!--box核心内容区-->
<div class="box m clearerfix">
    <div class="box-hd">
        <h3>Major Tropical Crops</h3>
        <a href="#">+ all</a>
    </div>
    <div class="box-bd">
        <ul >
            <li>
                <img src="../static/images/sugar%20cane.jpg" alt="">
                <h4>
                    Economic Crops
                </h4>
                <h5>
                    <a href="#">Cassava(木薯)</a>
                </h5>
                <h5>
                    <a href="#">Natural rubber(天然橡胶)</a>
                </h5>
                <h5>
                    <a href="#">Sugar cane(甘蔗)</a>
                </h5>
            </li>
            <li>
                <img src="../static/images/oil%20palm.jpg" alt="">
                <h4>
                    Oil Crops
                </h4>
                 <h5>
                    <a href="#">Oil palm(油棕)</a>
                </h5>
                <h5>
                    <a href="#">Olive(油橄榄)</a>
                </h5>
                <h5>
                    <a href="#">Castor(蓖麻)</a>
                </h5>
            </li>
            <li>
                <img src="../static/images/pepper.jpg" alt="">
                <h4>
                    Spice Crops
                </h4>
                 <h5>
                    <a href="#">Pepper(胡椒)</a>
                </h5>
                <h5>
                    <a href="#">Ginger(生姜)</a>
                </h5>
            </li>
            <li>
                <img src="../static/images/kenaf.jpg" alt="">
                <h4>
                    Fiber Crops
                </h4>
                 <h5>
                    <a href="#">Kenaf(红麻)</a>
                </h5>
            </li>
            <li>
                <img src="../static/images/cocoa.jpg" alt="">
                <h4>
                    Beverage Crops
                </h4>
                 <h5>
                    <a href="#">Coffee(咖啡)</a>
                </h5>
                <h5>
                    <a href="#">Cocoa(可可)</a>
                </h5>
            </li>
            <li>
                <img src="../static/images/betel%20nut.jpg" alt="">
                <h4>
                    Medicinal Crops
                </h4>
                 <h5>
                    <a href="#">Betel nut(槟榔)</a>
                </h5>
            </li>
            <li>
                <img src="../static/images/water%20lilies.jpg" alt="">
                <h4>
                    Ornamental Crops
                </h4>
                 <h5>
                    <a href="#">Water lilies(睡莲)</a>
                </h5>
                <h5>
                    <a href="#">orchid(兰花)</a>
                </h5>
            </li>
            <li>
                <img src="../static/images/" alt="">
                <h4>
                    Tropical Fruit
                </h4>
                 <h5>
                    <a href="#">Banana(香蕉)</a>
                </h5>
                <h5>
                    <a href="#">Pineapple(菠萝)</a>
                </h5>
                <h5>
                    <a href="#">Mango(芒果)</a>
                </h5>
                <h5>
                    <a href="#">Papaya(番木瓜)</a>
                </h5>
                <h5>
                    <a href="#">Passion fruit(百香果)</a>
                </h5>
                <h5>
                    <a href="#">Durian(榴莲)</a>
                </h5>
                <h5>
                    <a href="#">Rambutan(红毛丹)</a>
                </h5>

            </li>
        </ul>
    </div>
</div>

 <!--Excellent variety-->
     <div class="box-one ma ">
    <div class="box-a">
        <h3>Excellent variety</h3>
        <a href="#">+ all</a>
    </div>
         <div class="box-ab">

             <b>&rArr;&nbsp;Cassava：</b><a style="color: blueviolet; href="#"><i>华南205</i></a>, <a href="#"><i>面包木薯</i></a>, <a href="#"><i>蛋黄木薯</i></a>, <a href="#"><i>竹叶木薯</i></a>, <a href="#"><i>华南22号</i></a>, <a href="#"><i>桂热9号</i></a>, <a href="#"><i>南植199</i></a>,</a><a href="#">....</a><br>
       <b>&rArr;&nbsp;cactus：</b><a href="#"><i>tgw2</i></a>, <a href="gene/list/410.htm"><i>GS3</i></a>, <a href="gene/list/49725.htm"><i>qTGW3</i></a>, <a href="gene/list/670.htm"><i>qSW5</i></a>, <a href="gene/list/667.htm"><i>GW2</i></a>, <a href="gene/list/1833.htm"><i>GS5</i></a>, <a href="gene/list/25213.htm"><i>BG1</i></a>, <a href="#"><i>GW5</i></a>, <a href="#"><i>WTG1</i></a>, <a href="#"><i>qGL3</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000397">....</a><br>
        <b>&rArr;&nbsp;Cassava：</b><a style="color: green; font-weight: bold" href="gene/list/30.htm"><i>sd1</i>(绿色革命基因)</a>, <a style="color: green; font-weight: bold" href="gene/list/1027.htm"><i>IPA1</i></a>, <a href="gene/list/662.htm"><i>PROG1</i></a><br>
        <b>&rArr;&nbsp;Cassava：</b><a style="color: blueviolet; font-weight: bold" href="gene/list/45.htm"><i>Xa7</i></a>, <a href="gene/list/62.htm"><i>Xa27</i></a>, <a href="gene/list/64.htm"><i>Xa26/Xa3</i></a>, <a href="gene/list/67.htm"><i>xa25</i></a>, <a style="color: blueviolet; font-weight: bold" href="gene/list/59.htm"><i>Xa23</i></a>, <a style="color: red; font-weight: bold" href="gene/list/15.htm"><i>Xa21</i></a>, <a href="gene/list/50.htm"><i>xa13</i></a>, <a href="gene/list/41.htm"><i>xa5</i></a>, <a href="gene/list/14.htm"><i>Xa1</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000175">....</a><br>
        <b>&rArr;&nbsp;Cassava：</b><a href="#m"><i>Bph26/Bph2</i></a>, <a href="gene/list/30201.htm"><i>Bph18</i></a>, <a href="gene/list/5418.htm"><i>Bph32</i></a>, <a href="gene/list/1882.htm"><i>Bphi008a</i></a>, <a style="color: blueviolet; font-weight: bold" href="gene/list/2673.htm"><i>Bph3</i></a>, <a style="color: blueviolet; font-weight: bold" href="gene/list/213.htm"><i>Bph14</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000424">....</a><br>
        <b>&rArr;&nbsp;Cassava：</b> <a href="gene/list/21787.htm"><i>HMS1</i></a>, <a href="gene/list/1637.htm"><i>OsGL1-4</i></a>, <a href="gene/list/70213.htm"><i>OsPTS1</i></a>, <a href="gene/list/138.htm"><i>pms3</i></a>, <a href="gene/list/136.htm"><i>pms1</i></a>, <a href="gene/list/143.htm"><i>tms5</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0002199">....</a><br>
			<b>&rArr;&nbsp;Cassava：</b>  <a href="gene/list/1030.htm"><i>DEP2</i></a>, <a href="gene/list/672.htm"><i>FZP</i></a>, <a href="gene/list/11377.htm"><i>LP1</i></a>, <a href="gene/list/1060.htm"><i>SP1</i></a>, <a href="gene/list/1512.htm"><i>DEP3</i></a>, <a href="gene/list/1031.htm"><i>EP3</i></a>, <a href="gene/list/1719.htm"><i>LAX2</i></a>, <a href="gene/list/774.htm"><i>DEP1</i></a>, <a style="color: blueviolet; font-weight: bold" href="gene/list/2.htm"><i>Gn1a</i></a>, <a href="gene/list/630.htm"><i>GNP1</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000847">....</a><br>
			<b>&rArr;&nbsp;Cassava：</b> <a href="gene/list/15285.htm"><i>OsHAK21</i></a>, <a href="gene/list/2625.htm"><i>SERF1</i></a>, <a href="gene/list/2527.htm"><i>RSS3</i></a>, <a href="gene/list/24924.htm"><i>RSS2</i></a>, <a href="gene/list/1754.htm"><i>RSS1</i></a>, <a href="gene/list/810.htm"><i>OsHAL3</i></a>, <a href="gene/list/844.htm"><i>OsHKT4</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0006001">....</a><br>
			<b>&rArr;&nbsp;Cassava：</b> <a style="color: blueviolet; font-weight: bold" href="gene/list/2194.htm"><i>OsbZIP73</i></a>, <a href="gene/list/44268.htm"><i>HAN1</i></a>, <a href="gene/list/2193.htm"><i>OsbZIP71</i></a>, <a style="color: blueviolet; font-weight: bold" href="gene/list/2781.htm"><i>COLD1</i></a>, <a href="gene/list/12737.htm"><i>CTB4a</i></a>, <a href="gene/list/307.htm"><i>Ctb1</i></a>, <a href="gene/list/925.htm"><i>qLTG3-1</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000303">....</a><br>
			<b>&rArr;&nbsp;Cassava：</b> <a href="gene/list/2169.htm"><i>EDT1</i></a>, <a href="gene/list/17328.htm"><i>OsDRAP1</i></a>, <a href="gene/list/26817.htm"><i>OsDT11</i></a>, <a href="gene/list/2689.htm"><i>OsRCI2-5</i></a>, <a href="gene/list/2657.htm"><i>GUDK</i></a>, <a href="gene/list/838.htm"><i>OsSKIPa</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000276">....</a>
			</div>

     </div>
     <!--Excellent gene-->
     <div class="box-two ma">
    <div class="box-a">
        <h3>Breeding favorable genes</h3>
        <a href="#">+ all</a>
    </div>
         <div class="box-ab">

               &rArr;&nbsp;抗稻瘟病 <a style="color: blueviolet; font-weight: bold" href="gene/list/87.htm"><i>Pi9/Pi2/Pigm/Pizh</i></a>, <a href="gene/list/28904.htm"><i>Pi36</i></a>, <a href="gene/list/1104.htm"><i>Pid3</i></a>, <a href="gene/list/83.htm"><i>Pi5</i></a>, <a href="gene/list/17.htm"><i>Pita</i></a>, <a href="gene/list/71.htm"><i>Pia</i></a>, <a href="gene/list/75.htm"><i>Pish</i></a>, <a style="color: blueviolet; font-weight: bold" href="gene/list/127.htm"><i>pi21</i></a><a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000074">....</a><br>
        &rArr;&nbsp;粒重QTL <a href="gene/list/16313.htm"><i>tgw2</i></a>, <a href="gene/list/410.htm"><i>GS3</i></a>, <a href="gene/list/49725.htm"><i>qTGW3</i></a>, <a href="gene/list/670.htm"><i>qSW5</i></a>, <a href="gene/list/667.htm"><i>GW2</i></a>, <a href="gene/list/1833.htm"><i>GS5</i></a>, <a href="gene/list/25213.htm"><i>BG1</i></a>, <a href="gene/list/29956.htm"><i>GW5</i></a>, <a href="gene/list/49535.htm"><i>WTG1</i></a>, <a href="gene/list/910.htm"><i>qGL3</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000397">....</a><br>
        &rArr;&nbsp;理想株型 <a style="color: green; font-weight: bold" href="gene/list/30.htm"><i>sd1</i>(绿色革命基因)</a>, <a style="color: green; font-weight: bold" href="gene/list/1027.htm"><i>IPA1</i></a>, <a href="gene/list/662.htm"><i>PROG1</i></a><br>
        &rArr;&nbsp;抗褐飞虱 <a href="gene/list/1580.htm"><i>Bph26/Bph2</i></a>, <a href="gene/list/30201.htm"><i>Bph18</i></a>, <a href="gene/list/5418.htm"><i>Bph32</i></a>, <a href="gene/list/1882.htm"><i>Bphi008a</i></a>, <a style="color: blueviolet; font-weight: bold" href="gene/list/2673.htm"><i>Bph3</i></a>, <a style="color: blueviolet; font-weight: bold" href="gene/list/213.htm"><i>Bph14</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000424">....</a><br>
        &rArr;&nbsp;环境敏感雄性核不育 <a href="gene/list/21787.htm"><i>HMS1</i></a>, <a href="gene/list/1637.htm"><i>OsGL1-4</i></a>, <a href="gene/list/70213.htm"><i>OsPTS1</i></a>, <a href="gene/list/138.htm"><i>pms3</i></a>, <a href="gene/list/136.htm"><i>pms1</i></a>, <a href="gene/list/143.htm"><i>tms5</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0002199">....</a><br>
				&rArr;&nbsp;穗型  <a href="gene/list/1030.htm"><i>DEP2</i></a>, <a href="gene/list/672.htm"><i>FZP</i></a>, <a href="gene/list/11377.htm"><i>LP1</i></a>, <a href="gene/list/1060.htm"><i>SP1</i></a>, <a href="gene/list/1512.htm"><i>DEP3</i></a>, <a href="gene/list/1031.htm"><i>EP3</i></a>, <a href="gene/list/1719.htm"><i>LAX2</i></a>, <a href="gene/list/774.htm"><i>DEP1</i></a>, <a style="color: blueviolet; font-weight: bold" href="gene/list/2.htm"><i>Gn1a</i></a>, <a href="gene/list/630.htm"><i>GNP1</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000847">....</a><br>
				&rArr;&nbsp;耐盐性  <a href="gene/list/15285.htm"><i>OsHAK21</i></a>, <a href="gene/list/2625.htm"><i>SERF1</i></a>, <a href="gene/list/2527.htm"><i>RSS3</i></a>, <a href="gene/list/24924.htm"><i>RSS2</i></a>, <a href="gene/list/1754.htm"><i>RSS1</i></a>, <a href="gene/list/810.htm"><i>OsHAL3</i></a>, <a href="gene/list/844.htm"><i>OsHKT4</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0006001">....</a><br>
				&rArr;&nbsp;耐寒性  <a style="color: blueviolet; font-weight: bold" href="gene/list/2194.htm"><i>OsbZIP73</i></a>, <a href="gene/list/44268.htm"><i>HAN1</i></a>, <a href="gene/list/2193.htm"><i>OsbZIP71</i></a>, <a style="color: blueviolet; font-weight: bold" href="gene/list/2781.htm"><i>COLD1</i></a>, <a href="gene/list/12737.htm"><i>CTB4a</i></a>, <a href="gene/list/307.htm"><i>Ctb1</i></a>, <a href="gene/list/925.htm"><i>qLTG3-1</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000303">....</a><br>
				&rArr;&nbsp;耐旱性  <a href="gene/list/2169.htm"><i>EDT1</i></a>, <a href="gene/list/17328.htm"><i>OsDRAP1</i></a>, <a href="gene/list/26817.htm"><i>OsDT11</i></a>, <a href="gene/list/2689.htm"><i>OsRCI2-5</i></a>, <a href="gene/list/2657.htm"><i>GUDK</i></a>, <a href="gene/list/838.htm"><i>OsSKIPa</i></a>&nbsp;<a style="color: blueviolet; font-weight: bold" href="ontology/ontology.aspx?ta=TO:0000276">....</a>
			</div>

     </div>


  <!-- Nav tabs -->
     <div class="tabs ">
         <div class="tablist ">
             <ul class=" nav2 nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content ">
    <div role="tabpanel" class="tab-pane active" id="home">The GDS aims to be the leading platform providing omics data and tools for researchers, as well as breeding data and tools for breeders. We offered a series online bioinformatics tools, hoping to deal with some key issues in the whole industry chain in strawberry. In the near future, we will continue to update this database as long as we can.
    The only comprehensive database focusing on strawberry plants. We collected 8 species up to 2022.</div>
    <div role="tabpanel" class="tab-pane" id="profile"> to be the leading platform providing omics data and tools for researchers, as well as breeding data and tools for breeders. We offered a series online bioinformatics tools, hoping to deal with some key issues in the whole industry chain in strawberry. In the near future, we will continue to update this database as long as we can.
    The only comprehensive database focusing on strawberry plants. We collected 8 species up to 2022.</div>
    <div role="tabpanel" class="tab-pane" id="messages">The GDS aims to be the leading platform providing omics data and tools for researchers, as well as breeding data and tools for breeders. We offered a series online bioinformatics tools, hoping to deal with some key issues in the whole industry chain in strawberry. In the near future, we will continue to update this database as long as we can.</div>
    <div role="tabpanel" class="tab-pane" id="settings">as well as breeding data and tools for breeders. We offered a series online bioinformatics tools, hoping to deal with some key issues in the whole industry chain in strawberry. In the near future, we will continue to update this database as long as we can.
    The only comprehensive database focusing on strawberry plants. We collected 8 species up to 2022.</div>
  </div>
</div>
</div>
<!--footer-->
<div class="footer">
            <p>eplant |  Hainan University, Hainan, Haiko , China | 2021</p>
</div>

</body>
</html>